<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recepies App</title>
</head>
<body>
<!--@thymesVar id="recepies" type="guru.springframework.domain.Recepie"-->
<h1 th:text="'list of List of Recepies'"> index page plain html</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Recepie</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Servings</th>
        <th>Directions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recepie : ${recepies}">
        <td th:text="${recepie?.id}">1</td>
        <td th:text="${recepie?.descryption}">Jedzonko</td>
        <td th:text="${recepie?.ingriedients}">carrot</td>
        <td th:text="${recepie?.prepTime}">112</td>
        <td th:text="${recepie?.cookTime}">60</td>
        <td th:text="${recepie?.servings}">4</td>
        <td th:text="${recepie?.directionsv}">cook this</td>


    </tr>
    </tbody>
</table>

</body>
</html>